.bg
    <video autoplay muted loop id="myVideo">
        <source src="video/bg.webm" type="video/webm">
    </video>
<svg width="0" height="0" style="position: absolute; z-index: -9999; opacity: 0">
  <defs>
    <filter id="f1" x="0" y="0">
        <feGaussianBlur in="SourceGraphic" stdDeviation="15" />
        <feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 9 0'></feColorMatrix>
    <feComposite in2='SourceGraphic' operator='in'></feComposite>
    </filter>
    <clipPath id="clip-path" clipPathUnits="objectBoundingBox" filter='url("#f1")'>
       <circle cx="2" cy=".5" r="2" />

    </clipPath>
  </defs>
</svg>