.gradient_bg
.bg
    <video autoplay muted loop id="myVideo">
        <source src="video/bg.webm" type="video/webm">
    </video>
.main_form.page3
    .ru RU-ARA-0920-00001
    h2.header Регистрация на мероприятия
    .subheader Для регистрации на мероприятия заполните все поля ниже
    hr
    label.input_label Полное имя*
        input(type='text')
    label.input_label Должность*
        input(type='text')
    label.input_label ЛПУ*
        input(type='text')
    label.input_label Телефон
        input(type='tel')
    label.input_label Email*
        input(type='email')
    label.input_label Пароль
        input(type='text')
    label.input_label Сфера научных интересов
        input(type='text')
    label.input_label О себе 
        input(type='text')
    <div class="checkbox">
        <input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo">
        <label for="color-1">Я согласен с правилами и условиями</label>
    </div>
    .btn_form Зарегистрироваться
.onlymobile.mobile_container
    
    .menu_mobile
        .gradient_bg
        .bg
            <video autoplay muted loop id="myVideo">
                <source src="video/bg.webm" type="video/webm">
            </video>
        .close_menu_btn
            img(src='img/close.svg')
        a(href="page2.html").mobile_menu_item Главная
        a(href="page3.html").mobile_menu_item Регистрация
        a(href="page4.html").mobile_menu_item Помощь
        a(href="page5.html").mobile_menu_item Контакты
    .menu_btn
        img(src='img/menu.svg')
    .logo_top
        img(src='img/logo.svg')
    .logo_bot
        img(src='img/mainlogo.svg')
