.gradient_bg
.bg
    <video autoplay muted loop id="myVideo">
        <source src="video/bg.webm" type="video/webm">
    </video>
.main_form.page5
    .ru RU-ARA-0920-00001
    a(href="page2.html").back < Назад
    .block1
        .left
            h3 Центральные офисы компании
            p 1 Амджен Центр Драйв
                br
                |Таузенд Оакс, Калифорния
                br
                |91320-1799
                br
                |Телефон: +1 805-447-1000
                br
                |Факс: +1 805-447-1010
        .right
            h3 Для общих запросов
            p 
                b ООО "Амджен"
                br
                |123317 Россия, Москва, Пресненская набережная д.8, стр.1, 7 этаж                
                br
                |Тел: +7 (495) 745 0478
                br
                |Факс: +7 (499) 995 1965
    .block1
        .left
            h3 Информация для представителей СМИ
            p Контактная информация:
                br
                |Елена Шишкина, аксесс менеджер
                br
                br
                |ООО "Амджен"
                br
                |123317 Россия, Москва, Пресненская набережная д.8, стр.1, 7 этаж
                br
                |Тел.: +7 495 745 0478 (доб.: 10476)
                br
                |Факс: +7 499 995 1965
    .block1.block2
        .left
            h3 Медицинские запросы
            p Если Вы хотите обратиться в Амджен по любому из следующих вопросов:
                br
                br
                span.sel Вы считаете, что у Вас произошло нежелательное явление («побочное действие») на фоне приёма или применения продукции Амджен;
                br
                br
                span.sel Вы считаете, что качество используемой Вами продукции Амджен является неудовлетворительным;
                br
                br
                span.sel у Вас есть общие медицинские вопросы о продукции Амджен
                br
                br
                |пожалуйста, свяжитесь с нами по телефону +7 495 745 04 78
                br
                |или отправьте факс на номер +7 499 995 19 65
                br
                br
                |Для сообщения нежелательных явлений и других событий по безопасности Вы можете также воспользоваться электронной почтой eu-ru-safety@amgen.com
                br
                br
                |Если Вы находитесь в Российской Федерации, Вы также можете сообщить о случаях нежелательных явлений или проблеме с качеством продукции непосредственно в Федеральную службу по надзору в сфере здравоохранения (Росздравнадзор). Контактная информация и порядок обращения указаны на Интернет-сайте ведомства: www.roszdravnadzor.ru..
                br
                br
                |Если у Вас есть претензии к качеству лекарственных препаратов компании «Амджен» или подозрение на контрафакт, просим Вас сообщить об этом по электронной почте eu-ru-quality@amgen.com или свяжитесь с нами по телефону +7 495 745 04 78 или отправьте факс на номер +7 499 995 19 65.
    .block3
        |Предоставленная Вами персональная информация будет передана и обработана специалистами, которые уполномочены отвечать на запросы. Предоставленная вами информация не подлежит разглашению третьим лицам, за исключением случаев, предусмотренных законодательством.
        br
        br
        |Для получения дополнительной информации по вопросам использования и хранения предоставляемых Вами данных, а также Ваших правах на доступ, изменение или удаление предоставленной Вами информации, пожалуйста, перейдите в раздел Конфиденциальность и Условия использования, либо свяжитесь с нами по email: privacyoffice@amgen.com или почтовому адресу: ООО «Амджен», Пресненская набережная, д. 8 стр.1. В некоторых, предусмотренных законом, случаях компания Амджен оставляет за собой право на хранение персональной информации даже при наличии запроса на удаление со стороны субъекта персональных данных.
    .footer
        b ООО «Амджен»
        br
        |ИНН 7705750830
        br
        |ООО «Амджен»
        br
        |ИНН 7705750830
        br
        |ОГРН 5067746403490
        br
        |Российская Федерация, 123317, г. Москва, Пресненская наб., д.8., стр. 1
.onlymobile.mobile_container
    
    .menu_mobile
        .gradient_bg
        .bg
            <video autoplay muted loop id="myVideo">
                <source src="video/bg.webm" type="video/webm">
            </video>
        .close_menu_btn
            img(src='img/close.svg')
        a(href="page2.html").mobile_menu_item Главная
        a(href="page3.html").mobile_menu_item Регистрация
        a(href="page4.html").mobile_menu_item Помощь
        a(href="page5.html").mobile_menu_item Контакты
    .menu_btn
        img(src='img/menu.svg')
    .logo_top
        img(src='img/logo.svg')
    .logo_bot
        img(src='img/mainlogo.svg')
